PORT=8000
NODE_ENV=development
AUTH_SECRET=
MONGO_URI=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=G
GOOGLE_OAUTH_REDIRECT_URI={BASE_URL}/auth/callback/google       # replace {BASE_URL}

# cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=